.welcomeWrapper {
    position: absolute;
    top: 260px; /* Ajusta conforme a altura da lâmpada */
    left: 80px; /* Alinha à esquerda da caixa de login */
    text-align: center;
    z-index: 2;
  }
  
  .smallText {
    font-size: 1.2rem;
    color: white;
    margin: 0;
    opacity: 0.8;
    letter-spacing: 1px;
  }
  
  .bigText {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
    margin: 0;
    transition: text-shadow 0.3s ease;
  }
  