.extraPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lastActivities {
  overflow-y: auto;
  padding: 10px;
  background-color: transparent;
}

.properties {
  overflow-y: auto;
  padding: 10px;
  background-color: #202020;
}

.sectionTitle {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}
