.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background: #222;
    padding: 40px;
    border-radius: 12px;
    width: 550px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
  }
  
  /* Estados */
  .fadeIn {
    animation: fadeZoomIn 0.4s ease forwards;
  }
  
  .fadeOut {
    animation: fadeZoomOut 0.4s ease forwards;
  }
  
  /* Animações */
  @keyframes fadeZoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeZoomOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    font-size: 14px;
  }
  
  .textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .categorySection {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .addCategoryButton {
    padding: 10px 12px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .addCategoryButton:hover {
    background: white;
    color: black;
  }
  
  .categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  .categoryItem {
    background: #333;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .categoryItem button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .createButton {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .createButton:hover {
    background: white;
    color: black;
  }
  