body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: 	#2c2a29;
 /* background-image: 
    radial-gradient(rgba(255,255,255,0.02) 1px, transparent 0),
    radial-gradient(rgba(255,255,255,0.02) 1px, transparent 0);
  */
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  color: white;
  position: relative;
  overflow-x: hidden;
}

/* Fundo escuro sem imagem */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background:
  radial-gradient(ellipse at center, transparent 60%, rgba(30, 30, 30, 0.8) 100%);
  pointer-events: none;
  z-index: -3;
  opacity: 1;
}

/* Raios realistas vindos do canto superior esquerdo */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background:
    repeating-linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.03) 0px,
      rgba(255, 255, 255, 0.03) 2px,
      transparent 2px,
      transparent 10px
    );
  pointer-events: none;
  z-index: -2;
  mix-blend-mode: screen;
  animation: shimmerRays 16s linear infinite;
}

@keyframes shimmerRays {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

