body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
  overflow-y: hidden;
  }
  