.bulbContainer {
  width: 500px;
  height: 700px;
  position: absolute;
  top: -40px;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transform-origin: top;
  animation: swing 4s ease-in-out infinite;
}

.wire {
  width: 3px;
  height: 50%;
  background: black;
  position: relative;
  z-index: 1;
}

.connector {
  background: #292929;
  width: 24px;
  aspect-ratio: 4/5;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}

.grove {
  background: #424242;
  width: 28px;
  height: 2px;
  z-index: 3;
}

.bulb {
  margin-top: -2px;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: -1px;
  z-index: 1;
  animation: flash 10s linear infinite;
}

.metalWire {
  position: relative;
  border: 1px solid black;
  width: 18px;
  height: 9px;
  border-radius: 50%;
  z-index: 2;
}
.metalWire:nth-child(1) {
  top: -1px;
}
.metalWire:nth-child(2) {
  top: -6px;
}
.metalWire:nth-child(3) {
  top: -11px;
}

@keyframes swing {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

@keyframes flash {
  0%, 10%, 40%, 75%, 80%, 83.001%, 88% {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 0 0 transparent;
  }
  1%, 11.001%, 12%, 39.999%, 41%, 75.5%, 81.001%, 82%, 82.001%, 83%, 83.002% {
    background: #ffffff;
    box-shadow: 0 0 120px 60px rgba(255, 255, 255, 0.25);
  }
}
