.bulbContainer {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform-origin: top;
    animation: swing 3s ease-in-out infinite;
  }
  
  .wire {
    width: 4px;
    height: 290px;
    background: black;
    position: relative;
    z-index: 1;
  }
  
  .connector {
    background: #292929;
    width: 30px;
    aspect-ratio: 4/5;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
  }
  
  .grove {
    background: #424242;
    width: 34px;
    height: 3px;
    z-index: 3;
  }
  
  .bulb {
    margin-top: -2px;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 150px 75px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: -1px;
    z-index: 1;
    animation: flash 10s linear infinite;
  }
  
  .metalWire {
    position: relative;
    border: 1px solid black;
    width: 22px;
    height: 11px;
    border-radius: 50%;
    z-index: 2;
  }
  .metalWire:nth-child(1) {
    top: -1px;
  }
  .metalWire:nth-child(2) {
    top: -7px;
  }
  .metalWire:nth-child(3) {
    top: -13px;
  }
  
  /* Animações */
  
  @keyframes swing {
    0% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }
  
  @keyframes flash {
    0%, 10%, 40%, 75%, 80%, 83.001%, 88% {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 0 0 transparent;
    }
    1%, 11.001%, 12%, 39.999%, 41%, 75.5%, 81.001%, 82%, 82.001%, 83%, 83.002% {
      background: #ffffff;
      box-shadow: 0 0 150px 75px rgba(255, 255, 255, 0.3);
    }
  }
  