.searchInput {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
  }
  
  .searchInput:focus {
    border: 1px solid white;
  }
  